# iOS-specific file attributes #
*.m diff=objc
*.h diff=objc

# Android-specific file attributes #

*.gitattributes export-ignore
*.gitignore export-ignore
Android/app/src/androidTest/ export-ignore



