# OS X
.DS_Store
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrint.pri
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrint.winmd
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrintSettings.dll
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrintSettings.exp
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrintSettings.ilk
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrintSettings.lib
WindowsRT/ARM/Debug/DirectPrintSettings/DirectPrintSettings.pdb
WindowsRT/DirectPrint/test.pdf
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/CL.read.1.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/CL.write.1.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/DirectPrintSettings.lastbuildstate
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/DirectPrintSettings.read.1u.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/DirectPrintSettings.write.1u.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/cl.command.1.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/link.command.1.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/link.read.1.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPr.2ac765a5.tlog/link.write.1.tlog
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPrintSettings.Build.CppClean.log
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPrintSettings.log
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPrintSettings.vcxprojResolveAssemblyReference.cache
WindowsRT/DirectPrintSettings/ARM/Debug/DirectPrintSettingsWrapper.obj
WindowsRT/DirectPrintSettings/ARM/Debug/MultipleQualifiersPerDimensionFound.txt
WindowsRT/DirectPrintSettings/ARM/Debug/layout.resfiles
WindowsRT/DirectPrintSettings/ARM/Debug/layout.resfiles.intermediate
WindowsRT/DirectPrintSettings/ARM/Debug/pch.obj
WindowsRT/DirectPrintSettings/ARM/Debug/pch.pch
WindowsRT/DirectPrintSettings/ARM/Debug/pri.resfiles
WindowsRT/DirectPrintSettings/ARM/Debug/pri.resfiles.intermediate
WindowsRT/DirectPrintSettings/ARM/Debug/priconfig.xml
WindowsRT/DirectPrintSettings/ARM/Debug/priconfig.xml.intermediate
WindowsRT/DirectPrintSettings/ARM/Debug/printsettings.obj
WindowsRT/DirectPrintSettings/ARM/Debug/qualifiers.txt
WindowsRT/DirectPrintSettings/ARM/Debug/qualifiers.txt.intermediate
WindowsRT/DirectPrintSettings/ARM/Debug/resources.resfiles
WindowsRT/DirectPrintSettings/ARM/Debug/resources.resfiles.intermediate
WindowsRT/DirectPrintSettings/ARM/Debug/vc120.pdb
WindowsRT/SmartDeviceApp.opensdf
WindowsRT/SmartDeviceApp.sdf
