# OS X
.DS_Store
WindowsRT/ARM
WindowsRT/DirectPrintSettings/ARM
WindowsRT/SmartDeviceApp.opensdf
WindowsRT/SmartDeviceApp.sdf
WindowsRT/Debug/
WindowsRT/DirectPrintSettings/Debug/
SNMPLibraryBuilder/SNMPDiscoveryApp/.gradle/
SNMPLibraryBuilder/SNMPDiscoveryApp/.idea/
SNMPLibraryBuilder/SNMPDiscoveryApp/app/.externalNativeBuild/
SNMPLibraryBuilder/SNMPDiscoveryApp/app/build/
SNMPLibraryBuilder/SNMPDiscoveryApp/build/
