<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">
  <Identity Name="RISOPRINT-S" Publisher="CN=RISO KAGAKU CORPORATION" Version="1.0.9.0" />
  <Properties>
    <DisplayName>RISO PRINT-S</DisplayName>
    <PublisherDisplayName>RISO KAGAKU CORPORATION</PublisherDisplayName>
    <Logo>Resources\Images\StoreLogo.png</Logo>
  </Properties>
  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="SmartDeviceApp.App">
      <m2:VisualElements DisplayName="ms-resource:IDS_APP_NAME" Square150x150Logo="Resources\Images\Logo.png" Square30x30Logo="Resources\Images\SmallLogo.png" Description="RISO PRINT-S" ForegroundText="dark" BackgroundColor="#CDCDCD">
        <m2:DefaultTile DefaultSize="square150x150Logo" ShortName="ms-resource:IDS_APP_LAUNCHER_NAME">
          <m2:ShowNameOnTiles>
            <m2:ShowOn Tile="square150x150Logo" />
          </m2:ShowNameOnTiles>
        </m2:DefaultTile>
        <m2:SplashScreen Image="Resources\Images\img_splash.png" BackgroundColor="#CDCDCD" />
        <m2:ApplicationView MinWidth="width500" />
        <m2:InitialRotationPreference>
          <m2:Rotation Preference="portrait" />
          <m2:Rotation Preference="landscape" />
          <m2:Rotation Preference="portraitFlipped" />
          <m2:Rotation Preference="landscapeFlipped" />
        </m2:InitialRotationPreference>
      </m2:VisualElements>
      <Extensions>
        <Extension Category="windows.fileTypeAssociation">
          <FileTypeAssociation Name="pdf" m2:DesiredView="useMore">
            <DisplayName>PDF</DisplayName>
            <SupportedFileTypes>
              <FileType>.pdf</FileType>
            </SupportedFileTypes>
          </FileTypeAssociation>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
    <Capability Name="internetClientServer" />
    <Capability Name="privateNetworkClientServer" />
  </Capabilities>
</Package>