Makefile

/autom4te.cache
/compile
/depcomp
/install-sh
/missing
/stamp-h1
/libtool
/config.h
/config.status

*.gcno
*.gcda
*.gcov

*.o
*.la
*.lo

.deps/
.dirstamp
.libs/

/tests_app*
*.log

/_coverage
