<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.riso.smartprint" >

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" />

    <application
        android:name="jp.co.riso.smartdeviceapp.SmartDeviceApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ids_app_launcher_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme" >
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.MainActivity" 
            android:configChanges="orientation|screenSize" >
        </activity>
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.PDFHandlerActivity"
            android:launchMode="singleTask"
            android:autoRemoveFromRecents="true">
            <intent-filter tools:ignore="GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
            </intent-filter>
        </activity>
    </application>

</manifest>
