<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="jp.co.riso.smartprint" 
    android:installLocation="preferExternal"
    tools:ignore="ScopedStorage">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <!-- HIDE_NEW_FEATURES: Capture Photo function is hidden. Hide camera feature declaration >
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" /-->

    <application
        android:name="jp.co.riso.smartdeviceapp.SmartDeviceApp"
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="@string/ids_app_launcher_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true">
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.MainActivity" 
            android:configChanges="orientation|screenSize"
            android:colorMode="wideColorGamut" >
        </activity>
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.PDFHandlerActivity"
            android:launchMode="singleTask"
            android:autoRemoveFromRecents="true"
            android:exported="true">
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <!-- HIDE_NEW_FEATURES: Disable Text and Image Open-In >
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" /-->
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <!-- HIDE_NEW_FEATURES: Disable Text and Image Open-In >
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" /-->
            </intent-filter>
            <!-- HIDE_NEW_FEATURES: Disable Images Open-In >
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
            </intent-filter-->
        </activity>
    </application>

</manifest>
