<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    android:installLocation="preferExternal"
    tools:ignore="ScopedStorage">

    <uses-sdk android:minSdkVersion="28"
        tools:ignore="GradleOverrides" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <!-- Azure Notification Hubs - START -->
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>
    <!-- Azure Notification Hubs - END -->

    <!-- HIDE_NEW_FEATURES: Capture Photo function is hidden. Hide camera feature declaration >
    <uses-feature
        android:name="android.hardware.camera2"
        android:required="true" /-->

    <!-- Android 14 NewOS Support: RM#1450 screenLayout needed to handle rotation for Pixel Tablet >
    < And based on Android documentation: >
    < https://developer.android.com/guide/topics/resources/runtime-changes#handle-size-based -->

    <!-- Content Print - START -->
    <application
        android:name="jp.co.riso.smartdeviceapp.SmartDeviceApp"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/ids_app_launcher_name"
        android:resizeableActivity="false"
        android:theme="@style/AppTheme"
        android:hardwareAccelerated="true"
        android:supportsRtl="false"
        android:usesCleartextTraffic="true"
        tools:replace="android:supportsRtl"
        tools:ignore="UnusedAttribute">
        <!-- Content Print - END -->
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.SplashActivity"
            android:theme="@style/SplashTheme"
            android:configChanges="orientation|screenSize"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Content Print - START -->
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.MainActivity"
            android:configChanges="orientation|screenSize|screenLayout"
            android:theme="@style/Transparent"
            android:colorMode="wideColorGamut" >
        </activity>
        <activity
            android:name="jp.co.riso.smartdeviceapp.view.PDFHandlerActivity"
            android:theme="@style/Transparent"
            android:autoRemoveFromRecents="true"
            android:exported="true">
            <!-- Content Print - END -->
            <intent-filter tools:ignore="AppLinkUrlError,GoogleAppIndexingWarning">
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/avif" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="application/pdf" />
                <data android:mimeType="text/plain" />
                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/avif" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:mimeType="image/png" />
                <data android:mimeType="image/jpg" />
                <data android:mimeType="image/jpeg" />
                <data android:mimeType="image/gif" />
                <data android:mimeType="image/x-ms-bmp" />
                <data android:mimeType="image/bmp" />
                <data android:mimeType="image/x-windows-bmp" />
                <data android:mimeType="image/heif" />
                <data android:mimeType="image/heic" />
                <data android:mimeType="image/avif" />
            </intent-filter>
        </activity>

        <!-- Content Print - START -->
        <activity android:name="com.microsoft.identity.client.BrowserTabActivity">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:host="jp.co.riso.smartprint"
                    android:path="/8t10HTvSMhcmNO0y+/7mkDzwCUk="
                    android:scheme="msauth" />
            </intent-filter>

        </activity>
<!--         Content Print - END -->
        <service android:name="jp.co.riso.smartdeviceapp.view.notification.FirebaseMessagingServiceImpl"  android:exported="false">
        <intent-filter>
            <action android:name="com.google.firebase.MESSAGING_EVENT" />
        </intent-filter>
        </service>

    </application>

</manifest>
