<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.scanlibrary" >
    <uses-feature
        android:name="android.hardware.camera"
        android:required="true" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:largeHeap="true"
        android:hardwareAccelerated="true">
        <!-- aLINK edit: RM#907 screenLayout needed to handle rotation for chromebook, and as recommended by Android docs -->
        <!-- aLINK edit: RM#912 smallestScreenSize and density is needed to handle display size change -->
        <!-- aLINK edit: RM#912 keyboardHidden is needed to handle tablet-laptop transition (and vice-versa) -->
        <activity
            android:name=".ScanActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|density|keyboardHidden">
        </activity>

        <!-- aLINK edit: Migrate file provider to Android X -->
        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.scanlibrary.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths"/>
        </provider>
    </application>

</manifest>
